
@using Models.Order
@model List<OrderStatus>
<form data-ajax="true" data-ajax-method="post" data-ajax-url="Order/GetAll">
    <select class="custom-select">
        @foreach (var item in Model)
        {
            <option value="@item">
                <button class="btn" type="submit">@item</button>
            </option>
        }
    </select>
</form>

