
@using ViewModels.Order
@using Models.Order
@model EditOrderStatusViewModel



<div class="container  ">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Order" asp-action="Edit" method="post" class="w-50 m-auto mt-5" enctype="multipart/form-data">
                <table class="w-100">

                    <tr class="text-right" hidden>
                        <td><label for="orderID" class="form-label p-1">Order ID :  </label></td>
                        <td><input type="text" id="orderID" asp-for="ID" name="ID" value="@ViewBag.orderID" class="form-control"></td>
                    </tr>
                    <tr class="text-right">
                        <td><label for="orderStatus" class="form-label p-1">Order Status :  </label></td>
                        <td>
                            <select asp-for="OrderStatus" class="custom-select" id="orderStatus">
                                <option value=0>@OrderStatus.Pending</option>
                                <option value=1>@OrderStatus.Delivered</option>
                                <option value=2>@OrderStatus.Cancel</option>
                            </select>
                        </td>
                    </tr>

                   
                    <tr class="text-right">
                        <td class="text-center" colspan="2">
                            <input type="submit" class="btn btn-success m-2" value="Save">
                            <a class="btn btn-danger m-2" asp-controller="Order" asp-action="Index">Cancel</a>
                        </td>

                </table>
            </form>
        </div>
    </div>
</div>
