
@{
    ViewData["Title"] = "EditAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ViewModels.Department
@model GetEditDepartmentViewModel 
<div class="container  ">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Department" asp-action="Edit" method="post" class="w-50 m-auto mt-5">
                <table class="w-100">

                    <tr class="text-right">
                        @*<td><label for="deptID" class="form-label p-1">Department Id :  </label></td>*@
                        <td><input type="text" id="deptID" asp-for="ID" name="ID" class="form-control" value="@ViewBag.DeptID" hidden></td>
                    </tr>

                    <tr class="text-right">
                        <td><label for="deptName" class="form-label p-1">Department Name :  </label></td>
                        <td><input type="text" id="deptName" asp-for="DepartmentName" name="DepartmentName" class="form-control"></td>
                    </tr>

                    <tr class="text-right">
                        <td class="text-center" colspan="2">
                            <input type="submit" class="btn btn-success m-2" value="Edit">
                            <a class="btn btn-danger m-2" asp-controller="Department" asp-action="Index">Cancel</a>
                        </td>

                </table>
            </form>
        </div>
    </div>
</div>