
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@using ViewModels.Customer
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100 ">
        <div class="row" style="margin-top:20vh">
            <div class="col-12">
                <form method="post" class="w-50 m-auto mt-5" enctype="multipart/form-data">
                    <table class="w-100">

                        <tr class="text-right" hidden>
                            <td><label for="UserRole" class="form-label p-1">Username  </label></td>
                            <td><input type="text" id="UserRole" value="Admin" name="UserRole" class="form-control"></td>
                        </tr>
                        <tr class="text-right">
                            <td><label for="Username" class="form-label p-1">Username  </label></td>
                            <td><input type="text" id="Username" name="Username" class="form-control"></td>
                        </tr>
                        <tr class="text-right">
                            <td><label for="Password" class="form-label p-1">Password  </label></td>
                            <td><input type="password" id="Password" name="Password" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-right"><input type="checkbox" id="IsRemembered" name="IsRemembered" value="true" class="text-st"></td>
                            <td><label for="IsRemembered" class="form-label p-1">Remeber Me  </label></td>
                        </tr>

                        <tr class="text-right">
                            <td class="text-right">
                                <a href="~/Admin/ForgetPassword">Foreget Password</a>
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td class="text-center" colspan="2">
                                <input type="submit" class="btn btn-success m-2" value="Login">
                                <input type="reset" class="btn btn-danger m-2" value="Cancel">
                            </td>

                    </table>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        if (localStorage.getItem("Token")) {
            window.location.href = '@Url.Action("Index","Department")'
        }
    document.forms[0].addEventListener("submit", (e) => {
    e.preventDefault();

    let u = document.getElementById("Username").value;
    let p = document.getElementById("Password").value;
    let r = document.getElementById("IsRemembered").checked;
    // let role = document.getElementById("role").options[document.getElementById("role").selectedIndex].text;

    var url = new URL("https://localhost:44386/api/Account/Login");

    var params = [
    ["Username", u],
    ["Password", p],
    ["IsRemembered", r],
    ["UserRole", "Admin"],
    ];
    url.search = new URLSearchParams(params).toString();
    console.log(url);
    fetch(url, {
    method: "Post",
    headers: {
    Accept: "application/json",
    "Content-Type": "application/json",
    },
    })
    .then((res) => res.json())
    .then((res) => {
    console.log(res)
    localStorage.setItem("Token", res.data);
    window.location.href = '@Url.Action("Index", "Department")';
    });
    });

    </script>

</body>
