
@{
    Layout = null;
}

@using ViewModels.Customer
@model ResetPasswordViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="css/index.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form asp-action="ResetPassword" asp-controller="Admin" method="post" class="w-50 m-auto mt-3">
                    <table class="w-100">

                        <tr class="text-end" hidden>
                            <td><label for="Email" asp-for="Email" class="form-label p-1">Email  </label></td>
                            <td><input type="Email" value="@Model.Email" id="Password" name="Email" class="form-control"></td>
                        </tr>
                        
                        <tr class="text-end" hidden>
                            <td><label for="Token" asp-for="Token" class="form-label p-1">Token  </label></td>
                            <td><input type="text" value="@Model.Token" id="Token" name="Token" class="form-control"></td>
                        </tr>
                        
                        <tr class="text-end">
                            <td><label for="Password" asp-for="Password" class="form-label p-1">Password  </label></td>
                            <td><input type="password" id="Password" name="Password" class="form-control"></td>
                        </tr>

                        <tr class="text-end">
                            <td><label for="ConfirmPassword" asp-for="ConfirmPassword" class="form-label p-1">Confirm Password  </label></td>
                            <td><input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"></td>
                        </tr>

                        <tr class="text-end">
                            <td colspan="2" class="text-center">
                                <input type="submit" class="btn btn-success m-2" value="Reset Password">
                                <input type="reset" class="btn btn-danger m-2" value="Cancel">
                            </td>
                        </tr>

                    </table>
                </form>

            </div>
        </div>
    </div>

    <script src="~/js/restPassword.js"></script>
</body>
</html>
