
@{
    ViewData["Title"] = "image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using ViewModels.Product

@model AddProductImageViewModelAdmin


<div class="container  ">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Product" asp-action="image" method="post" class="w-50 m-auto mt-5" enctype="multipart/form-data">
                <table class="w-100" id="tbl">

                    <tr class="text-right" hidden>
                        <td><label for="ProductID" class="form-label p-1">ProductID :  </label></td>
                        <td> <input type="text" id="ProductID" asp-for="productID" value="@ViewBag.ProductID" /> </td>
                    </tr>
                    <tr class="text-right">
                        <td>
                            <img src="http://placehold.it/150" class="img-fluid" width="300" />
                        </td>
                        <td>
                            <input  type="file" asp-for="imgFile" class="imageFile" onchange="getImg(event)" accept="Image/*" />
                        </td>
                    </tr>
                    <tr class="text-right">
                        <td class="text-center" colspan="2">
                            <input type="submit" class="btn btn-success m-2" value="Add">
                            <a class="btn btn-danger m-2" asp-controller="Product" asp-action="Index">Cancel</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    <script>
     
        function getImg(event) {
            var reader = new FileReader();
            reader.readAsDataURL($(event.target)[0].files[0]);
            reader.onload = evt => {
                $(event.target).parent().siblings("td").children("img").attr("src", evt.target.result);
            }
        }

    </script>
}